
# Remove egg-info directory
DREEM_Herschlag.egg-info

# Remove build directory
build

# Remove dist directory
dist

# Remove __pycache__ directory
__pycache__

# Remove .pyc files
*.pyc

# Remove .pyo files
*.pyo

# Remove .egg-info directory
*.egg-info


# ignore log
log

# Ignore .gitignore
.gitignore

# ignore .git directory
.git

# ignore input
input

# ignore etc
etc

ign

# ingore output
output
# ignore temp
temp

lib
data
*.pyc
*.pyo
*.egg-info
build
dist
__pycache__
*.zip
*.tar.gz
*.tar.bz2
*.p